h1 {
  background-color: #FFE5B4;
  text-align: center;
  width: 100%;
  align-items: center;
  height: 200px;
  padding-top: 5%;
  margin-bottom: 0px;
  background-image: url(../images/images.png);
  background-repeat: no-repeat;
  background-image: 1000px;
}
#author {
  float: left;
  background-color: #29AB87;
  width: 100%;
  margin-top: 0px;
  color: white;
  margin-bottom: 10px;
}
#play {
  align-content: center;
}
#forms {
  align-items: center;
  background-color: #6699ff;
  width: 200px;
  float: center;
}
#play {
  background-color: white;
  color: black;
  margin-bottom: 0%;
}
#rules {
  margin-bottom: 109px;
}
play:hover{
  background-color: maroon;
}
h1:hover {
  background-color: pink;
}
