h1 {
  background-color: #6699ff;
  text-align: center;
  width: 100%;
  align-items: center;
  height: 200px;
  padding-top: 5%;
}
#author {
  float: left;
  background-color: #808080;
}
#play {
  align-content: center;
}
